.eco {
  &__item {
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    max-width: 380px;
  }

  &__icon {
    display: flex;
    margin: 0 auto;
    padding-bottom: 20px;
    width: 100px;
    height: 100px;
    cursor: pointer;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__description {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #000;
  }
}
